.svd_questions_editor {
  padding-left: 18px;
}

.sv_body {
  border-color: #237be9 !important;
}

.sv_complete_btn {
  background-color: #237be9 !important;
}

.sv_main.sv_default_css :focus {
  border-color: #237be9 !important;
}
